.blueButton{
	-fx-background-color: #2576DF;
	-fx-background-radius: 25;	
}

.blueButton:hover {
	-fx-background-color: #6d7072;
}

.blueButton:pressed{
	-fx-background-color: #979191;	
}
	
.transparentButton {
	-fx-background-radius: 25;
	-fx-background-color: transparent;
}

.transparentButton:hover {
	-fx-background-color: #6d7072;
}

.transparentButton:pressed {
	-fx-background-color: #979191;
}

.createPostButton {
	 -fx-background-color :linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #e84d4d 0.0%, #a8a8a8 100.0%);
	 -fx-background-radius: 25;
	 -fx-border-radius: 25;
}

.createPostButton:hover {
	-fx-background-color: #6d7072;
}

.createPostButton:pressed {
	-fx-background-color: #979191;
}

.post {
	 -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #e84d4d 0.0%, #a8a8a8 100.0%);
}

.post:hover {
	-fx-background-color: #6d7072;
}

.post:pressed{
	-fx-background-color: #979191;	
}

/*This is used to make text areas transparent since this is unable to be done in SceneBuilder*/
.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-opacity: 0;
}

